<p> Текущий год : <%= current_year %></p>
<p> Имя автора: Максим Пильский</p>
<p> Название проекта:<a href="<%= github_url("MaksimPilskii", "test-guru") %>"> Test-guru</a></p>
<p> Описание проекта: Название: TestGuru Веб-приложение позволяющие пользователям регистрировать<br> 
 и размещать свои тесты для их прохождения другими пользователями. Пользователи могут проходить тесты <br>
 и публиковать результаты в социальных сетях. В проекте использовались: Ruby: 3.0.0 Ruby On Rails: 7.0.2.3</p>
<p>Сущности приложения: Пользователи: 1) Создатели тестов 2) Отвечающие Тесты Вопросы Ответы Результаты Категории</p>
<p><a href="https://thinknetica.com/"> "Учебный проект в онлайн-школе Thinknetica"</a></p>